body {
  text-align: center;
  background-color: #062C30;
}

h1 {
  font-size: 4rem;
  color: #5D8BF4;
  font-family: sans-serif;
}

footer {
  color: #85C88A;
  font-family: sans-serif;
}

.z {
  background-image: url("images/tom1.png");
}

.x {
  background-image: url("images/tom2.png");
}

.c {
  background-image: url("images/tom3.png");
}

.v {
  background-image: url("images/tom4.png");
}

.b {
  background-image: url("images/snare.png");
}

.n {
  background-image: url("images/crash.png");
}

.m {
  background-image: url("images/kick.png");
}

.set {
  margin: 9% auto;
}


.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: sans-serif;
  line-height: 2;
  font-weight: 900;
  color: #085E7D;
  text-shadow: -2px -2px #00FFDD;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.pressed {
 opacity: 0.5;
}
